UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 90
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AlignAfterOpenBracket: true
BreakConstructorInitializersBeforeComma: true
NamespaceIndentation: All
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: true
