/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
/libcga/include/cga.h
/docs/html
/docs/latex
/docs/Doxyfile
libcga-0.1.tar.gz
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.pc
*.o
.#*
*.a
*.pyc
